<blockquote class="post-copyright">
    <div class="content">
        <p>
            <img src="/img/cc.png" alt="cc">
            This post is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/deed.zh">Creative Commons Attribution 4.0 International License</a>.
        </p>
        <p>Thanks for your reward! You gave me fiat money, I won't want it!</p>
        <p>BTC: 3HiSr4M7XjEy2mX6qDok4ecbUmDBAC88Qx</p>
        <p>ETH: 0xa2f385e27ecb1682b0f2f1a5272f4c22843488eb</p>
    </div>
    <footer>
        <a href="<%- config.url %>">
            <img src="<%- url_for(theme.avatar) %>" alt="<%- config.author %>">
            <%- config.author %>
        </a>
    </footer>
</blockquote>
