<div class="mask" id="mask"></div>
<a href="javascript:;" id="gotop" class="waves-effect waves-circle waves-light">
  <img src="/img/back-to-top.ico">
</a>
<% if(theme.share){ %>
<%- partial('post/share', {scope: 'global'}) %>
<% } %>
